.item-name {
    font-size: 1.2em; 
    font-weight: bold;
}

.item-description {
    display: block; 
    font-size: 1.1em; 
}

.item-price {
    font-weight: bold;
}

.menucontainer {
    padding-bottom: 50px;
}



